numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.13.2
wordcloud==1.9.3
pandas-profiling==3.2.0
joblib==1.1.0
visions[type_image_path]==0.7.4
altair==5.4.1 
blinker==1.8.2 
cachetools==5.5.0 
gitdb==4.0.11 
gitpython==3.1.43 
narwhals==1.8.2 
protobuf==5.28.2 
pydeck==0.9.1 
smmap==5.0.1
streamlit==1.38.0
tenacity==8.5.0
toml==0.10.2
google-cloud-storage>=2.4.0
google-auth>=2.17.0
google-auth-oauthlib>=0.5.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.67.0
bertopic>=0.11.0